{{define "base"}}
<!DOCTYPE html>
<html>
    <head>
        <title>{{template "title" .}}</title>
        <link rel="stylesheet" href="/static/style.css" title="Styles" type="text/css" media="screen" charset="utf-8">
        <script src="/static/functions.js" charset="utf-8"></script>
        <script src="/static/game.js" charset="utf-8"></script>
    </head>
    <body>
        <section>
          {{template "content" .}}
        </section>

        {{template "script" .}}

        <footer>
            <hr>
            <p><a href="/">Home</a> • <a href="/help">Help</a></p>
            <p>
              <small>Build <a href="https://github.com/waits/gogo/commit/{{.LongRev}}">{{.ShortRev}}</a>. Created by <a href="https://waits.io">Dylan Waits</a>.</p></small>
            </p>
        </footer>
    </body>
</html>
{{end}}
{{define "title"}}{{end}}
{{define "script"}}{{end}}
