{{define "base"}}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{{template "title" .}}</title>
        <link rel="stylesheet" href="/static/style.css" title="Styles" type="text/css" media="screen" charset="utf-8">
        <script src="/static/functions.js" charset="utf-8"></script>
        <script src="/static/game.js" charset="utf-8"></script>
    </head>
    <body>
        <div class="page">
            {{template "content" .}}
        </div>
    </body>
</html>
{{end}}
