{{define "base"}}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{{template "title" .}}</title>
        <link type="text/css" rel="stylesheet" href="/static/style.css">
        <script type="text/javascript" src="/static/main.js"></script>
    </head>
    <body>
        <div class="page">
            {{template "content" .}}
        </div>
    </body>
</html>
{{end}}
