[Unit]
Description=Go app server
After=redis-server.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/www/gogo/cur

ExecStart=/var/www/gogo/cur/gogo --host go.waits.io --certs /var/www/gogo/certs

[Install]
WantedBy=multi-user.target
