{{define "title"}}Game #{{.Id}}{{end}}
{{define "content"}}
<h1>{{.Black}} vs. {{.White}}</h1>
<small>{{.Size}}x{{.Size}} board</small>

<h2>Turn #{{.Turn}}: {{.Up}}</h2>

<a href="/">Home</a>
{{end}}
