{{define "title"}}{{if eq .Data.Last "f"}}Game Over - {{end}}{{.Data.Black}} vs. {{.Data.White}} - Go{{end}}

{{define "content"}}
{{if eq "" .Data.Black .Data.White}}
  <h2>Waiting for opponent...</h2>
  <p>Share this link to get started:<br><a href="/game/{{.Data.Key}}">https://go.waits.io/game/{{.Data.Key}}</a></p>
{{else}}
  <h1 id="title">Turn <span id="turn">{{.Data.Turn}}{{if eq .Data.Last "f"}}/F{{end}}</span> – {{.Data.Black}} vs. {{.Data.White}}</h1>

  <p><strong>Captured:</strong> black <span id="blackscr">{{.Data.BlackScr}}</span>, white <span id="whitescr">{{.Data.WhiteScr}}</span></p>
  {{if ne .Data.Last "f"}}<p><button id="pass">Pass</button></p>{{end}}
{{end}}

<div id="board" class="inactive">
  {{$s := .Data.ZeroSize}}
  {{range $y, $row := .Data.Board}}
  <div class="row">
    {{range $x, $stone := $row}}
    <div class="cell">
      <svg width="30" height="30" viewPort="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <line x1="{{if eq $x 0}}15{{else}}0{{end}}" y1="15" x2="{{if eq $x $s}}15{{else}}30{{end}}" y2="15" stroke="black" stroke-width="1" />
        <line x1="15" y1="{{if eq $y 0}}15{{else}}0{{end}}" x2="15" y2="{{if eq $y $s}}15{{else}}30{{end}}" stroke="black" stroke-width="1" />
      </svg>
      {{if eq $stone 1}}<div class="stone black"></div>{{else if eq $stone 2}}<div class="stone white"></div>{{else}}<div class="stone hide"></div>{{end}}
    </div>
    {{end}}
  </div>
  {{end}}
</div>
{{end}}

{{define "script"}}
{{if ne .Data.Last "f"}}
  <script>
    'use strict';
    var board = document.getElementById('board');
    var passBtn = document.getElementById('pass');
    board && new GameController(board, passBtn, {{.Data.Key}}, {{.Data.Black}}, {{.Data.White}});
  </script>
{{end}}
{{end}}
