{{define "title"}}Help (or, How to Play Go){{end}}

{{define "content"}}
  <h1>Help (or, How to Play Go)</h1>
  <strong>Quick start rules:</strong>
  <ol>
    <li>The game starts with an empty board. One player uses black pieces and the other player uses white pieces.</li>
    <li>The players alternate making moves, starting with black.</li>
    <li>A move consists of placing one stone of your color on an empty <em>intersection</em>.</li>
    <li>A player may pass instead of making a move.</li>
    <li>Adjacent stones of the same color are called a <em>group</em>.</li>
    <li>A group becomes <em>captured</em> and removed from the board when it is completed surrounded by enemy pieces.</li>
    <li>No move may return the board to a previously played position.</li>
    <li>The game ends when both players pass consecutively.</li>
    <li>The game is scored by adding up each player's <em>territory</em> (points they occupy plus points they surround).</li>
    <li>The player with more territory wins.</li>
  </ol>
  <p>
    <a href="https://en.wikipedia.org/wiki/Go_(game)#Rules">Full rules on Wikipedia</a>
  </p>
{{end}}
