*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inconsolata";
  font-weight: normal;
  src: url("inconsolata-regular.woff");
}
@font-face {
  font-family: "Inconsolata";
  font-weight: bold;
  src: url("inconsolata-bold.woff");
}

body {
  color: #212121;
  font-family: "Inconsolata", monospace;
  font-weight: normal;
}

a, a:visited {
  color: rgb(0, 0, 238);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

section, header, footer {
  margin: 0 auto;
  width: 600px;
}
section {
  margin-top: 1em;
  margin-bottom: 1em;
}

.hide {
  display: none;
}

#board {
  background-color: #dcb363;
  content: "";
  display: table;
  clear: both;
}
#board.disabled {
  opacity: 0.3;
}
.row {
  border: none;
  padding: none;
}
.cell {
  height: 30px;
  width: 30px;
  padding: 0;
  position: relative;
  float: left;
}
.cell svg {
  display: block;
  position: absolute;
}
#board:not(.disabled):not(.inactive) td:hover {
  background-color: gray;
}
.stone {
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 1px;
  top: 1px;
  height: 28px;
  width: 28px;
  z-index: 1;
}
#board.black .cell:hover .stone.hide {background-color: black;}
#board.white .cell:hover .stone.hide {background-color: white;}
.cell:hover .stone.hide {
  display: block;
  opacity: 0.5;
}
#board.inactive .stone.hide {
  display: none;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
.last {
  border: 2px solid violet;
}

.notice {
  background-color: #6fc44c;
  color: white;
  padding: 7px 8px;
}
