*, *:before, *:after {
  box-sizing: border-box;
}

#board {
  background-color: #dcb363;
  border-collapse: collapse;
}
#board.disabled {
  opacity: 0.3;
}
td {
  border: 1px solid black;
  padding: 0;
}
#board:not(.disabled):not(.final) td:hover {
  background-color: red;
}
.piece {
  height: 29px;
  width: 29px;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
